version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: docker/app/Dockerfile
      # args:
      #   NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    networks:
      - app
    restart: unless-stopped

  web:
    image: nginx:alpine
    volumes:
      - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "${DOCKER_PORT_WEB}:80"
    networks:
      - app
    depends_on:
      - app
    restart: unless-stopped

networks:
  app:
    name: ${DOCKER_PROJECT_ID}.app.production
    driver: bridge
